body {
    background: #3498db;
}

.box {
    background: white;
    width: 90%;
    min-height: 400px;
    border-radius: 6px;
    margin: 5% auto 5% auto;
    padding: 10px;
    box-shadow: 5px 5px 10px #888888;
    position: absolute;
    left: 5%;
}

.row {
    height: 60%;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
}

/* Clear floats after the columns */
.box:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}

.header {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

#copylink {
    width: 40%;
}

.chat {
    width: 100%;
    max-height: 100px;
    padding: 5px;
    overflow-y: auto;
    position: relative;
    background-color: #F0F0F0;
}

.btn {
    background: #2ecc71;
    height: 30px;
    color: white;
    border-radius: 4px;
}

.btn:hover {
    background: #2CC06B;
}

table {
    border-collapse: collapse;
    margin-left: 5%;
}

.player {
    position: relative;
    width: 100%;
    display: table;
}

.playerList0 {
    background-color: white;
}

.playerList1 {
    background-color: lightgrey;
}

.pregame_player_name {
    margin-left: 4em;
}

#pregame_host {
    position: absolute;
}

.ingame {
    float: left;
    width: 45%;
    margin: 2px auto 5px 10px;
}

.playersTitle {
    align-content: left;
    text-align: left;
    margin-bottom: 15px;
}

input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}